main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main>h3 {
    font-size: 13px;
    font-weight: normal;
    text-align: center;
}

section {
    width: 90%;
    display: flex;
    background: #FCFCFC;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 17px 0;
}

.numero {
    font-size: 70px;
    margin: 0 3%;
    font-family: 'Montserrat', sans-serif;
    color: #C4C4C4;
}

.instrucao {
    display: block;
    width: 60%;
}

.instrucao h3 {
    color: #675F58;
    font-weight: normal;
}

.instrucao p {
    color: #B4AFAE;
    font-size: 14px;
}

section:nth-child(3) {
    background-image: url('../img/elementos/icon1.svg');
    background-repeat: no-repeat;
    background-position-x: 96%;
    background-position-y: 40%;
    background-size: 15%;
}

section:nth-child(4) {
    background-image: url('../img/elementos/icon2.svg');
    background-repeat: no-repeat;
    background-position-x: 96%;
    background-position-y: 40%;
    background-size: 15%;
}