h4 {
    font-size: 11px;
    margin-top: 1em;
}

.passos {
    margin: .5em auto;
    width: 90%;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: left;
    background-color: #FCFCFC;
}

.numeroEtapa {
    float: left;
    font-size: 3em;
    margin-left: 10px;
}

.instrucoes {
    text-align: left;
    float: left;
    width: 60%;
    margin-left: .8em;
}

.instrucoes p {
    color: #B4AFAE;
    margin: 5px auto;
    font-size: 12px;
    padding-bottom: .5em;
}

.instrucoes h4 {
    color: #675F58;
    font-size: 15px;
    margin-bottom: 5px;
}